
.homeSlider1
{
    background: url('../../../../assets/img/slid/1.jpg');
    
}
.homeSlider2
{
    background: url('../../../../assets/img/slid/2.jpg');
    
}
.homeSlider3
{
    background: url('../../../../assets/img/slid/3.jpg');
    
}
.homeSlider4
{
    background: url('../../../../assets/img/slid/04.jpg');
}
.homeAbout
{
    background: url('../../../../assets/img/exp.jpg');
}
.contactbg
{
    background: url('../../../../assets/img/ab2.jpg');
    
}